<div class="chartsxblock_block">
    <div class="chartsxblock_settings">
        <textarea rows="1" class="chart_name"> {{self.chart_name}} </textarea>
        <select class="chart_type" name="chart_type">
            {% for chart in self.chart_types %}
                <option value="{{chart}}" {% if chart == self.chart_type %} selected="selected" {% endif %} >
                    {{chart|capfirst}}
                </option>
            {% endfor %}
        </select>
        <div class="chartsxblock_table">
        <button class="chart-right-add fancyButton"> Add Column </button>
        <button class="chart-bottom-add fancyButton"> Add Row </button>
        <button class="advanced fancyButton">Advanced</button>
            <table class="chart-table chart-table-striped">
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <button class="updateButton fancyButton">Update</button>
    </div>

    <div class="modal advancedModal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="closeModalBlock">
            <span class="closeModal fa fa-times"></span>
        </div>
        <h1 class="modalTitle">JSON data to update</h1>
        <div class="dataBlock">
            <textarea class="dataText">Input JSON goes here</textarea>
        </div>
        <button class="fancyButton submitDataText">Submit</button>
        <button class="closeModal fancyButton">Cancel</button>
      </div>

    </div>
</div>
