<div class="chartsxblock_block">
    <div class="chartsxblock_settings">
        <div class="chartsxblock_manualinput">
            <textarea rows="1" class="chart_name"> {{self.chartName}} </textarea>
            <select class="chart_type" name="chart_type">
                {% for chart in self.chartTypes %}
                    <option value="{{chart}}" {% if chart == self.chartType %} selected="selected" {% endif %} >
                        {{chart|capfirst}}
                    </option>
                {% endfor %}
            </select>
            <textarea rows="12" class="chart_data"> {{self.chartData}} </textarea>
            <button class="updateButton">Update</button>
        </div>
    </div>
</div>
