/* CSS for ChartsXBlock */

.chart{
    height: 700px;
}

.chartsxblock_settings{
    padding: 20px;
}

textarea{
    resize: none;
    border-radius: 3px;
    border: 1px solid #b2b2b2;
}

.chart_type{
    width: 15%;
}

.chart_name{
    width: 425px;
    margin-bottom: 5px;
}

.chart_data{
    width: 100%;
}

.fancyButton{
    transition: background-color 0.15s,box-shadow 0.15s;
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 0 0 transparent;
    display: inline-block;
    padding: 4px 20px 5px;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0));
    border: 1px solid #0074b4;
    border-radius: 3px;
    background-color: #0074b4;
    border-color: #007fb8;
    color: #fff;
}

.deleteRow, .deleteColumn{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 5px;
}

.chart-table {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.chart-table td,
.chart-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

.chart-table td {
    background-color: transparent;
}

.chart-table tr:first-child {
    font-weight: bold;
}

.chart-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

.advancedModal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
    text-align: center;
    background-color: #fefefe;
    width: 60%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.closeModalBlock {
    margin: 15% auto !important;
    margin-bottom: 0 !important;
    text-align: right;
    width: 60%;
    height: 40px;
    background-color: #bbbbbb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.closeModalIcon {
    margin-top: 10px;
    margin-right: 2%;
    font-size: large;
}

.closeModal:hover,
.closeModal:focus {
    cursor: pointer;
}

.modalTitle {
    font-weight: bolder;
    margin: 2% auto;
}

.dataTextBlock {
    margin: 2% auto;
}

.dataText {
    margin: 0 auto;
    width: 60%;
    height: 200px;
    font-size: medium;
}
